################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NextLvlServInfo/v16
/Некоторые материалы по проекту.txt
/NextLvlServInfo/bin
/NextLvlServInfo/obj
